<!DOCTYPE html>
<html>
<head>
  <title>SportsumeTom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="user_nav">

    <% if user_signed_in? %>
  		Signed in as <%= current_user.email %>.  Not you?
  		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  	<% else %>
  		<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
  		<% end %>

  </div>

  <h1>Sportsumé</h1>

  <div id="container">

  	


    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>



    <%= yield %>

  </div>


</body>
</html>
